<!doctype html>
<html lang="en" ng-app="Politify">
  <head>
    <meta charset="utf-8">
    <title>Politify</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="js/app.js"></script>
    <script src="js/politifyController.js"></script>
    <script src="js/constituencySearchFactory.js"></script>
    <script src="js/mpSearchFactory.js"></script>
  </head>

  <body ng-controller="PolitifyController as politifyCtrl">
    <h1 id="app-Name">Politify V.1.0</h1>
    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="politifyCtrl.postcode" >
        <button class="btn" ng-click="politifyCtrl.doSearch()">Search</button>
      </form>
    </div>
    <ul class="results">
      <li data-ng-bind="politifyCtrl.mpResults.full_name"></li>
      <li data-ng-bind="politifyCtrl.mpResults.party"></li>
      <li id="constituency" data-ng-bind="politifyCtrl.mpResults.constituency"></li>
      <li data-ng-bind="politifyCtrl.mpResults.office[0].dept"></li>
      <li><img ng-src="http://www.theyworkforyou.com/{{politifyCtrl.mpResults.image}}"></img></li>
      <li><a class="btn" ng-href="http://www.theyworkforyou.com/{{politifyCtrl.mpResults.url}}">Website</a></li>
    </ul>
  </body>
</html>
