<div class="jumbotron">
    <!-- Logo or something -->
    <img src="css/img/Black_Banner_800x200.jpg" width="100%" />
</div>
<md-content>

    <!-- Item 1 -->
    <div layout="row" layout-sm="column">
        <div class="page-header text-center">
            <h1 class="md-display-2">Find Your Representative</h1>
        </div>
    </div>
    <div layout="row" layout-sm="column">
      <div flex style="margin:10px;">
        <input type="text" ng-model="hm.postcode" placeholder="Enter your postcode">
        <md-button class="md-raised md-accent" ng-click="hm.doSearch()">Search</md-button>
      </div>
      <div flex>
        <md-card flex layout="row">
          <img ng-src="http://www.theyworkforyou.com/{{hm.mpResults.image}}" style-parent class="md-card-image" alt="Democracy!">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" data-ng-bind="hm.mpResults.full_name"></span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p data-ng-bind="hm.mpResults.party"></p>
            <p id="constituency" data-ng-bind="hm.mpResults.constituency"></p>
            <p data-ng-bind="hm.mpResults.office[0].dept"></p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div flex style="margin:10px;">
          <p class="text-center">Some stuff about our app. <a href="https://material.angularjs.org/latest/">A link to something</a> some more things. Maybe a video demo. </p>
      </div>
      <!-- <div flex style="margin:10px;">
          <iframe style="width:100%;max-width:560px;height:315px;" src="https://www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0" allowfullscreen></iframe>
      </div> -->
    </div>
    <br />
    <md-divider></md-divider>
    <br />

    <!-- Item 2 -->
   <div layout="row" layout-sm="column">
        <div flex class="page-header text-center">
            <h2 class="md-display-2">News About Your Representative</h2>
        </div>
        <md-button href="https://angularjs.org/" title="Documentation" target="_blank" aria-label="AngularJS">
            <i class="material-icons">launch</i>
            AngularJS Docs
        </md-button>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="http://ionicframework.com/present-ionic/slides/img/angular-icon.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
          <ul class="news">
            <li ng-repeat= "links in hm.newsResults.items">
              <a ng-href="{{links.link}}">{{links.title}}</a>
            </li>
          </ul>
        </div>
    </div>
    <br />
    <md-divider></md-divider>
    <br />

    <!-- Item 3 -->
    <div layout="row" layout-sm="column">
        <div flex class="page-header text-center">
            <h2>Item 3</h2>
        </div>
        <md-button href="https://www.google.com/design/spec/material-design/introduction.html" title="Documentation" target="_blank" aria-label="AngularJS">
            <i class="material-icons">launch</i>
            Material Design Docs
        </md-button>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
            <h3>Material is the metaphor</h3>
            <p class="text-primary">A material metaphor is the unifying theory of a rationalized space and a system of motion. The material is grounded in tactile reality, inspired by the study of paper and ink, yet technologically advanced and open to imagination and magic.</p>
            <p class="text-primary">Surfaces and edges of the material provide visual cues that are grounded in reality. The use of familiar tactile attributes helps users quickly understand affordances. Yet the flexibility of the material creates new affordances that supercede those in the physical world, without breaking the rules of physics.</p>
            <p class="text-primary">The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other. Realistic lighting shows seams, divides space, and indicates moving parts.</p>
        </div>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7NndTQW9VZTlZV2s/materialdesign_principles_bold.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
            <h3>Bold, graphic, intentional</h3>
            <p class="text-primary">The foundational elements of print-based design—typography, grids, space, scale, color, and use of imagery—guide visual treatments. These elements do far more than please the eye. They create hierarchy, meaning, and focus. Deliberate color choices, edge-to-edge imagery, large-scale typography, and intentional white space create a bold and graphic interface that immerse the user in the experience.</p>
            <p class="text-primary">An emphasis on user actions makes core functionality immediately apparent and provides waypoints for the user.</p>
        </div>
    </div>

    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7dkRYelJkeklqWFU/materialdesign_principles_motion.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
            <h3>Motion provides meaning</h3>
            <p class="text-primary">some text</p>
        </div>
    </div>

</md-content>
