
<div class="card" ng-controller="SuccessController as successCtrl">
  <fieldset>
  <h1 id="app-Name">Search For Your MP</h1
    <p>Enter Postcode</p>
  <div>
    <form class="form-horizontal">
      <input type="text" ng-model="successCtrl.postcode" style="text-transform:uppercase">
      <button class="btn" ng-click="successCtrl.doSearch()">Search</button>
      <!-- <button class="btn" ng-click="successCtrl.clearSearch()">Search again</button> -->
    </form>
  </div>
  <br><br>
  <div class="all-results" ng-show="successCtrl.validate && successCtrl.postcode">


  <section class="tab" ng-controller="TabController as tab">
  <ul class="nav nav-pills">
    <li btn-listng-class="{ active: tab.isSet(1) }">
      <a class="btn-tab" href ng-click="tab.setTab(1)">Basic Info</a></li>
    <li ng-class="{ active: tab.isSet(2) }">
      <a class="btn-tab" href ng-click="tab.setTab(2)">Expenses</a></li>
    <li ng-class="{ active: tab.isSet(3) }">
      <a class="btn-tab" href ng-click="tab.setTab(3)">Email</a></li>
    <li ng-class="{ active: tab.isSet(4) }">
      <a class="btn-tab" href ng-click="tab.setTab(4)">News</a></li>
    <li ng-class="{ active: tab.isSet(5) }">
      <a class="btn-tab" href ng-click="tab.setTab(5)">Finacial Info</a></li>
    <li ng-class="{ active: tab.isSet(6) }">
      <a class="btn-tab" href ng-click="tab.setTab(6)">Social</a></li>
  </ul>
  <br>

  <div ng-show="tab.isSet(1)">
    <h2>Basic Info</h2>
    <br>
      <p data-ng-bind="successCtrl.mpResults.full_name"></p>
      <p data-ng-bind="successCtrl.mpResults.party"></p>
      <p id="constituency" data-ng-bind="successCtrl.mpResults.constituency"></p>
      <p data-ng-bind="successCtrl.mpResults.office[0].dept"></p>
      <p><img ng-src="http://www.theyworkforyou.com/{{successCtrl.mpResults.image}}" alt="No Image available"></img></p>
      <p><a class="web-link" ng-href="{{ successCtrl.votes.mp_website }}">Website</a></p>
      <p><a class="web-link" ng-href="http://www.theyworkforyou.com/mp/{{successCtrl.mpResults.person_id}}/{{successCtrl.mpName}}/{{successCtrl.mpConstituency}}/votes">See how ... votes</a></p>

  </div>

  <div ng-show="tab.isSet(2)">
    <h2>Expenses</h2>
    <br>
    <a class="web-link" ng-href="{{ successCtrl.votes.expenses_url }}">Expenses Record</a>
    <p>Total expenses:</p>
    <p ng-model="successCtrl">{{ successCtrl.votes.expenses2009_total | currency:"£" }}</p>
  </div>
  <div ng-show="tab.isSet(3)">
    <h2>Email</h2>
    <p ng-model="succesCtrl">Email {{ successCtrl.mpResults.full_name }}</p>
    <form method="post" name="form" role="form" ng-model="successCtrl" ng-submit="form.$valid && sendMessage(input)" novalidate>
      <p ng-show="success">Thanks for getting in touch!</p>
      <p ng-show="error">Something wrong happened!, please try again.</p>

      <fieldset>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" ng-model="input.name" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ng-model="input.email" required>
        </div>
        <div>
          <label for="messsage">Message:</label>
          <textarea id="messsage" name="message" ng-model="input.message" required></textarea>
        </div>

      </fieldset>
      <button type="submit" name="submit" value="submit">Submit</button>
    </form>
  </div>
  <div ng-show="tab.isSet(4)">
    <h2>News</h2>
    <br>
    <ul class="news">
      <li ng-repeat= "links in successCtrl.newsResults.items">
        <a ng-href="{{links.link}}">{{links.title}}</a>
      </li>
    </ul>
  </div>
  <div ng-show="tab.isSet(5)">
    <h2>Finacial Info</h2>
    <br>
    <p ng-model="successCtrl">{{ successCtrl.mpResults.full_name }}'s finacial interests</p>
    <br>
    <div data-ng-bind="successCtrl.votes.register_member_interests_html">
  </div>
  <br>
  <div ng-show="tab.isSet(6)">
    <h4>Social</h4>

  </div>
</section>



</div>
  </div>
</fieldset>
</div>
